@import '../../styles/variables';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

button:active {
  transform: scale(0.92);
}

button {
  border: 0px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  height: 45px;
  line-height: 45px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary {
  background-color: $primary-color;
}

.btn-primary:hover, .btn-primary:focus {
  //background-color: #378eb5;
  background-color: darken($primary-color, $darken-amount);
  cursor: pointer;
}

.btn-success {
  background-color: $success-color;
}

.btn-success:hover, .btn-success:focus {
  background-color: darken($success-color, $darken-amount);
  cursor: pointer;
}

.btn-warning {
  background-color: $warning-color;
}

.btn-warning:hover, .btn-warning:focus {
  background-color: darken($warning-color, $darken-amount);
  cursor: pointer;
}

.btn-danger {
  background-color: $danger-color;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: darken($danger-color, $darken-amount);;
  cursor: pointer;
}
