@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

button:active {
  transform: scale(0.92);
}

button {
  border: 0px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  height: 45px;
  line-height: 45px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary {
  background-color: #256EFF;
}

.btn-primary:hover {
  background-color: #0048d8;
  cursor: pointer;
}

.btn-success {
  background-color: #3DDC97;
}

.btn-success:hover {
  background-color: #1fad70;
  cursor: pointer;
}

.btn-warning {
  background-color: #D9F2B4;
}

.btn-warning:hover {
  background-color: #C0D99B;
  cursor: pointer;
}

.btn-danger {
  background-color: #FF495C;
}

.btn-danger:hover {
  background-color: #E63043;
  cursor: pointer;
}
