@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

button:active {
  transform: scale(0.92);
}

button {
  border: 0px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  height: 45px;
  line-height: 45px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary {
  background-color: #67B0D1;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #378eb5;
  cursor: pointer;
}

.btn-success {
  background-color: #5FCD9C;
}

.btn-success:hover, .btn-success:focus {
  background-color: #35aa76;
  cursor: pointer;
}

.btn-warning {
  background-color: #D9F2B4;
}

.btn-warning:hover, .btn-warning:focus {
  background-color: #C0D99B;
  cursor: pointer;
}

.btn-danger {
  background-color: #E87352;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: #d2441c;
  cursor: pointer;
}
