@import '../../styles/variables';

input[type="text"] {
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-top: 2px solid #ddd;
  box-sizing: border-box;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  height: 45px;
  line-height: 45px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px 0;
  transition: border 300ms ease-in-out, color 300ms ease-in-out;
}

input[type="text"]:focus {
  border-bottom: 2px solid $primary-color;
  color: $primary-color;
  transition: border 300ms ease-in-out, color 300ms ease-in-out;
}

input::selection {
  color: darken($primary-color, $darken-amount);
  background-color: #ddd;
}
